body{
background-color:  #0091ff;
color: white;
font-family: 'Montserrat Alternates', sans-serif;
}
.couchhead{
position: absolute;
top: 15px;
left: 300px;
}
.mainbody{
position: absolute;
top: 10%;
}
